<table class='table'>
  <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>following</th>
    <th><%= link_to user.followings.count,followings_user_path(user)%></th>
  </tr>
  <tr>
    <th>follower</th>
    <th><%= link_to user.followers.count,followers_user_path(user)%></th>
  </tr>
</table>
<table>
  <% unless user==current_user %>
    <% if user.is_followed_by?(current_user)%>
      <%= link_to "フォロー解除",user_relationships_path(user),method: :delete, class: "btn btn-primary" %>
    <%else%>
      <%= link_to "フォロー",user_relationships_path(user),method: :post, class: "btn btn-success" %>
    <%end%>           
  <%end%>
</table>
　
<div class='row'>
  <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block edit_user_#{user.id}" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>